.splash-page{
    width: 100vw;
}


.splash-video-container{
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    background-color: #012616;
}

.splash-video{
    width: 80vw;
    height: 100%;
}
