.splash-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.splash-video-container{
    display: flex;
    justify-content: center;
    height: fit-content;
    max-width: 100%;
    background-color: #012616;
}

.splash-video{
    width: 80%;
    height: 100%;
}

.repo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 406px;
    width: 100%;
    background-color: #012616;
}

.repo-text{
    text-align: center;
    width: 100%;
    color: #C3F53D;
    font-size: 52px;
    font-weight: 700;

}

.bottom-text{
    margin-bottom: 50px;
}
.repo-button{
    width: 200px;
    height: 50px;
    background-color: #C3F53D;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

.repo-button:hover{
    background-color: #a3cc33;
}
