.add-stock-container{
    box-sizing: border-box;
    max-width: 100%;
    width: 408px;
    min-height: fit-content;
    max-height: 525px;
    border-radius: 10px;
    padding: 16px 24px 24px;

}

.add-stock-header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
}


.add-watchlist-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 64px;
    background-color: #F5F8FA;
}
.add-watchlist-icon img{
    width: 24px;
    height: 24px;
}

.close-stock-modal img{
    width: 24px;
    height: 24px;
}

.watchlist-checkbox-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 343px;
    height: 80px;
    padding: 8px 0px;
    cursor: pointer;
}
.add-watchlist-container{
    overflow-y: scroll;
}

.name-watchlist{
    margin-left: 12px;
}
.checkbox{
    margin-right: 12px;
}

.close-stock-modal{
    cursor: pointer;
}

.edit-list-submit{
    width: 100%;
    height: 44px;
    background-color: #00C805;
    color: white;
    max-width: 420px;
    min-width: 120px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.edit-list-submit:hover{
    background-color:#00d107;
}
